/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/



.player {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 3vw;
  background-color: gainsboro;
  padding-bottom: 5vw;
}

.player span {
  font-size: 2.5em;
  font-weight: bold;
}

.player img {
  float: left;
  margin-right: 1vw;
  margin-top: 1vw;
  padding-left: 4vw;
}

.matchs {
  margin-left: 17vw;
  margin-right: 17vw;
}

.redTeam {
  margin-top: 2vw;
}

.blueTeam {
  margin-top: 2vw;
}

.gamemode {
  margin-bottom: 1vw;
}

.agentimg {
  width:2.5vw;
}

.players ul {
  list-style-type:none;
  margin-left:-2vw;
}

.players li {
  margin-bottom: 1vw;
}

.aa {
  width:10vw;
  height:4vw;
}

.mapimgHaven {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/haven.jpg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.mapimgBind {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/bind.jpg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.mapimgFracture {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/fracture.jpg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.mapimgIcebox {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/icebox.jpeg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.mapimgAscent {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/ascent.jpg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.mapimgBreeze {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/breeze.jpg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.mapimgSplit {
  background-image:
  linear-gradient(to right, rgba(245, 246, 252, 0), rgb(255, 255, 255)),
  url('components/img/split.jpg');
  width:15vw;
  height:4vw;
  background-size: cover;
  color: black;
  padding: 20px;
}

.statsMatch {
  margin-left: 10vw;
  margin-top: 1vw;
  font-weight: bold;
  font-size: 1.5vw;
}

.accordeon {
  border: none;
  margin-bottom:1vw;
}

.blueTeam tr {
  background: rgb(98,186,165);
  background: linear-gradient(90deg, rgba(98,186,165,1) 0%, rgba(255,255,255,1) 20%);
  margin-bottom: 1vw;
  border-bottom: 1px solid;
}

.blueTeam th {
  background-color: #62BAA5;
}

.players table {
  width: 100%;
}

.redTeam th{
  background-color: #F1635D;
}

.redTeam tr {
  background: rgb(241,99,93);
  background: linear-gradient(90deg, rgba(241,99,93,1) 0%, rgba(255,255,255,1) 20%);
  margin-bottom: 1vw;
  border-bottom: 1px solid;
}

.searchBar {
  margin-left: 25vw;
  width: 50%;
  border: 2px solid rgb(175, 0, 0);
  padding: 10px;
}

.searchBar {
  text-align:center;
  margin: 0 auto;
  margin-top: 100px;
}

// PEN BY PETR GAZAROV
// -- https://github.com/petrgazarov -- 

$input-font-size: 30px;
$input-line-height: 70px;
$font-family: Roboto Slab, sans-serif;

body {
  background-color: #222222;
}

.input-wrapper {
  position: relative;
  width: 500px;
  margin: 50px auto;
}

.input-highlight {
  font-size: $input-font-size;
  user-select: none;
  line-height: $input-line-height;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: $font-family;
  overflow: hidden;
}

input[type=text] {
  height: 60px;
  width: 100%;
  min-width: 100%;
  padding: 0;
  border-radius: 0;
  line-height: $input-line-height;
  background-color: transparent;
  color: black;
  font-size: $input-font-size;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-family: $font-family;

  &:focus {
    + .input-highlight {
      border-top: 3px solid #fb1b1b;
    }
  }
}