body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 3vw;
  background-color: gainsboro;
  padding-bottom: 4vw;
}

.player span {
  font-size: 2.5em;
  font-weight: bold;
}

.player img {
  float: left;
  margin-right: 1vw;
  margin-top: 1vw;
  padding-left: 4vw;
}

.matchs {
  margin-left: 17vw;
}

.redTeam {
  float: right;
}

.blueTeam {
  float: left;
}